<header>
  <nav>
    <div class="nav-wrapper grey darken-3">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
      <%= render FindmyPersonalWeb.SharedView, "_header_menu.html", assigns %>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
      <%= render FindmyPersonalWeb.SharedView, "_header_menu.html", assigns %>
  </ul>
</header>
