<div class="nav-wrapper">
      <%= form_for @conn, Routes.teacher_path(@conn, :search), [method: :get], fn f ->  %>
        <div class="input-field">
            <%= search_input f, :term, name: "filter", id: "search", placeholder: "Digite um instrutor" %>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      <% end %>
    </div>
<table>
    <thead>
        <th>Name</th>
        <th>Education Level</th>
        <th>Action</th>
    </thead>
    <tbody>
        <%= for teacher <- @teachers do %>
            <tr>
                <td><%= teacher.name %></td>
                <td><%= teacher.education_level %></td>
                <td>
                    <span><%= link "Show", to: Routes.teacher_path(@conn, :show, teacher) %></span>
                    <span><%= link "Edit", to: Routes.teacher_path(@conn, :edit, teacher) %></span>
                    <span><%= link "Delete", to: Routes.teacher_path(@conn, :delete, teacher), method: :delete, data: [confirm: "Tem certeza?"] %></span>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<span><%= link "New Teacher", to: Routes.teacher_path(@conn, :new) %></span>
